*{
    padding: 0;
    margin: 0;
    font-family: "Bree Serif", sans-serif;
}
body{
    background-color: #f7f7f7;
    overflow-x: hidden;
}
.home-screen{
    min-height: 90vh;
    width: 100%;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10px;
}
.home-screen h1{
    font-size: calc(1.875rem + 1.8vw);
}
.home-screen p{
    font-size: calc(0.8rem + 0.85vw);
}
.home-screen div a{
    background-color: #dd4050;
    border: 2px solid #12121233;
    padding: 8px 24px;
}
.home-screen div a:hover{
    color: #ac2b38;
    background-color: #f7f7f7;
    border: 2px solid #ac2b38;
}
.about{
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0px 50px 0px;
}
.about .card{
    margin: 10px 0px;
}
.about .card div{
    padding: 20px 10px;
}
.about .card div h3{
    padding: 10px 0px 0px 0px;
}
#arrow{
    font-size: calc(2.075rem + 2vw);
    position: relative;
    top: 80px;
    color: #db404f;
    animation: down 1.1s infinite linear;
    text-shadow: 0px 0px 2px #12121233,
    0px 0px 2px #12121233;
    -webkit-text-stroke: 2px #12121233;
}
@keyframes down {
    0%{
        top: 70px;
    }
    50%{
        top: 110px;
    }
    100%{
        top: 70px;
    }
}

.chat{
    max-height: 100vh;
    overflow-y: hidden;
}
.message-section{
    height: calc(100vh - 118px);
    margin: 58px 0px 0px 0px;
    background-color: #f7f7f7;
    overflow-y: auto;
}
.footer{
    height: 60px;
    display: flex;
}
.footer input{
    width: 100%;
    padding: 5px;
    font-size: 17px;
    border: 2px solid #ac2b38;
    border-right: none;
    outline: none;
}
.footer button{
    padding: 0px 20px;
    font-size: 18px;
    background-color: #ac2b38;
    border: 2px solid #12121233;
    color: #f7f7f7;
    transition-duration: 0.3s;
}
.footer button:hover{
    color: #ac2b38;
    background-color: #f7f7f7;
    border: 2px solid #ac2b38;
}
#down{
    float: right;
    width: 50px;
    height: 50px;
    color: #ac2b38d2;
    border: 2px solid #ac2b38d2;
    font-size: 22px;
    background: #f7f7f7d2;
    border-radius: 50%;
    position: relative;
    left: -20px;
    top: -125px;
    transition-duration: 0.3s;
}
#down:hover{
    color: #f7f7f7b2;
    border: 2px solid #f7f7f7b2;
    background: #ac2b38b2;
}
#loadmsgs{
    padding: 8px 24px;
    font-size: 18px;
    background-color: #dd4050;
    border: 2px solid #12121233;
    border-radius: 4px;
    color: #f7f7f7;
    transition-duration: 0.3s;
}
#loadmsgs:hover{
    color: #ac2b38;
    background-color: #f7f7f7;
    border: 2px solid #ac2b38;
}
.message-section::-webkit-scrollbar {
    width: 10px;
}

.message-section::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.message-section::-webkit-scrollbar-track:hover {
    background: #D1D1D1;
}

.message-section::-webkit-scrollbar-thumb {
    background: #888;
}

.message-section::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.msg{
    padding: 10px;
    border: 2px solid #12121212;
    border-radius: 0px 10px 10px 10px;
    margin: 10px;
    background-color: #c2c2c2;
    color: #121212;
    word-break: break-all;
    width: auto;
    display: inline-block;
}
#user_msg {
    background-color: #ac2b38;
    color: #f7f7f7;
    border-radius: 10px 0px 10px 10px;
    direction: rtl;
}
#user_div {
    direction: rtl;
}
#loading{
    text-align: center;
}
