{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat | Global Chat</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Bree Serif' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'main/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
</head>
<body class="chat">
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Global Chat</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main>
        <section class="message-section" id="msg_container">
            <h4 id="loading">loading...</h4>
            {% for message in messages %}
                {% if message.user == request.user %}
                    <div id="user_div"><p id="user_msg" class="msg">{{message.content}}</p></div>
                {% else %}
                    <div><p class="msg">{{message.user}}: {{message.content}}</p></div>
                {% endif %}
            {% endfor %}
        </section>

        <section class="footer">
            <input type="text" id='tx1' placeholder="Enter your message here">
            <button id="send">Send</button>
        </section>
    </main>

    <button id="down" class="fa fa-chevron-down"></button>
    <input type="hidden" value="{{request.user.username}}" id="me">
</body>
<script src="{% static 'main/bootstrap/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'main/script.js' %}"></script>
</html>
