{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Global Chat</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Bree Serif' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'main/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Global Chat</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'signup' %}">Sign up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log in</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="pt-2 mt-5">
        <section class="home-screen">
            <h1>Global Chat</h1>
            <p>a website where you can send messages globally.</p>
            <div>
                <a href="{% url 'signup' %}" class="btn btn-danger">GET STARTED</a>
            </div>
            <div id="arrow" class="fa fa-arrow-down"></div>
        </section>

        <h2 class="text-center mt-4">Developed by</h2>
        <section class="about row">
            <section class="card col-lg-4 col-md-5 col-sm-10 border-0">
                <div>
                    <img src="https://drive.google.com/uc?id=1LerskcCbdpHcbnCKzKUoW0AcqtuRJoj5&export=download" class="w-100 rounded border">
                    <h3>Ahmed Saber</h3>
                    <p>Frontend Web Developer</p>
                    <a href="https://my-portfolio-4zqu.onrender.com/" target="_blank" class="btn btn-danger">MORE INFO</a>
                </div>
            </section>
            <section class="card col-lg-4 col-md-5 col-sm-10 border-0">
                <div>
                    <img src="https://drive.google.com/uc?id=1LYrSX9sSsVpQ5Bp2jrz3WmKz3VfIXx4G&export=download" class="w-100 rounded border">
                    <h3>Ahmed Yasser</h3>
                    <p>Backend Web Developer</p>
                    <a href="https://www.linkedin.com/in/ahmedyasser54/" target="_blank" class="btn btn-danger">MORE INFO</a>
                </div>
            </section>
        </section>
    </main>
</body>
<script src="{% static 'main/bootstrap/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'main/script.js' %}"></script>
</html>