<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Global Chat</title>
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lora&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./forms.css">
</head>
<body>
    <main>
        <section>
            <form action="" method="post">
                {% csrf_token %}
                <h1>Login To Global Chat</h1>
                <p>Enter your account login info to continue.</p>
                <label>Enter your username:</label>
                <input type="text" class="txt" placeholder="Username" name="username">
                <label>Enter your password:</label>
                <input type="password" class="txt" placeholder="Password" name="password">
                <input type="submit" class="btn" value="Log in">
            </form>
            <label>Don't have account ? <a href="{% url 'signup' %}">Create one</a></label><br>
            {% if messages %}
            {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <p class="false">{{message}}</p>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <p class="true">{{message}}</p>
            {% else %}
            <p>{{message}}</p>
            {% endif %}
            {% endfor %}
            {% endif %}
        </section>
    </main>
</body>
</html>